{% extends 'garage/events/page.twig' %}

{% block eventContent %}
    <div class="event__content clearfix">
        <div class="event__counter">
            <div class="event__counter-number">
                <div class="event__counter-number--digit">{{ events|length + 1 }}</div>
                times
            </div>
            <div class="event__counter-date">since<br>{{ event.time|date('d M Y') }}</div>
        </div>
        <div class="event__title">
            {{ event.message }}
        </div>
        <div class="event__path">
            {{ event.errorLocation.full }}
        </div>
        <div>
            <span class="event-badge event-badge--{{ event.userAgent.device.type }}">
                {{ event.userAgent.device.type }}
            </span>
            <span class="event-badge event-badge--device-size">
                {{ svg('/public/svg/scale-arrows.svg') }}
                {{ event.userAgent.device.width }} x {{ event.userAgent.device.height }}
            </span>
        </div>
    </div>
{% endblock %}

{% block eventInfo %}
    <h3>Traceback</h3>
    {% include  'garage/events/client/stack.twig' with {event: event} %}
{% endblock %}

{% block repeations %}
    {% if events %}<h3>Repeations</h3>{% endif %}
    <div class="repeations">
        {% for item in events %}
            <div class="repeations__row">
                <div class="repeations__date">
                    {{ item.time|date('d M, H:i') }}
                </div>
                <div class="repeations__user-agent">
                    {{ item.userAgent.device.os }},
                    {{ item.userAgent.browser.name }}
                    {{ item.userAgent.browser.version }}
                </div>
                <span class="event-badge event-badge--{{ item.userAgent.device.type }}">
                  {{ item.userAgent.device.type}}
                </span>
                <span class="event-badge event-badge--device-size">
                    {{ svg('/public/svg/scale-arrows.svg') }}
                    {{ item.userAgent.device.width }}x{{ item.userAgent.device.height }}
                </span>
                <a href="{{ item.location.url }}" target="_blank" class="repeations__path">{{ item.location.path }}</a>
                <div class="repeations__stack" onclick="hawk.event.toggleStack(this, '{{ item._id }}')">{{ svg('/public/svg/stack.svg') }} stack</div>
            </div>
            <div class="event-info hide" data-event="{{ item._id }}">
                {% include 'garage/events/client/stack.twig' with {event: item} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}