{% extends 'garage/events/page.twig' %}

{% block eventContent %}
    <div class="event__content clearfix">
        <div class="event__counter">
            <div class="event__counter-number">
                <div class="event__counter-number--digit">{{ events|length + 1 }}</div>
                times
            </div>
            <div class="event__counter-date">since<br>{{ event.time|date('d M Y') }}</div>
        </div>
        <div class="event__title">
            {{ event.message }}
        </div>
        <div class="event__path">
            {{ event.errorLocation.full }}
        </div>
        <div>
            <span class="event-badge event-badge--{{ event.userAgent.device.type }}">
                {{ event.userAgent.device.type }}
            </span>
            <span class="event-badge event-badge--device-size">
                {{ event.userAgent.device.width }} x {{ event.userAgent.device.height }}
            </span>
        </div>
    </div>
{% endblock %}

{% block eventInfo %}
    <h3>Traceback</h3>
    {% include  'garage/events/client/stack.twig' with {event: event} %}
{% endblock %}

{% block repeations %}
    {% if events %}<h3>Repeations</h3>{% endif %}
    <div class="repeations" data-module-required="appender">
      <module-settings>
        {
          "url" : "/garage/{{ project.user.projectUri }}/event/{{ event.groupHash }}/?page=",
          "event" : "{{ event.groupHash }}",
          "project" : "{{ project.name }}",
          "autoloading" : "true",
          "dontWaitFirstClick" : "false"
        }
      </module-settings>
      {% include 'garage/events/client/events-list.twig' with {events: events} %}
    </div>
{% endblock %}
