<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="language" content="en-us">
    <title>{{ meta.title or 'Hawk.so' }}</title>
    <meta property="og:title" content="{{ meta.title or 'Hawk.so' }}" />
    <meta property="og:site_name" content="Hawk">
    <meta name="description" property="og:description" content="{{ meta.description or 'Fast and lightweight
errors tracking service.' }}" />
    <link rel="stylesheet" href="/static/build/bundle.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <script type="text/javascript" src="/static/build/bundle.js"></script>
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <script>
      hawkso.docReady(function () {
        hawkso.init();
      });
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
    {% if env.HAWK_CATCHER_TOKEN is not empty  %}
      <script src="https://cdn.rawgit.com/codex-team/hawk.client/master/hawk.js" async onload="hawk.init('{{ env.HAWK_CATCHER_TOKEN }}');"></script>
    {% endif %}
    {% if env.YANDEX_METRIKA_ID is not empty %}
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
            try {
              w.yaCounter{{ env.YANDEX_METRIKA_ID }} = new Ya.Metrika({
                id:{{ env.YANDEX_METRIKA_ID }},
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce:true
              });
            } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/{{ env.YANDEX_METRIKA_ID }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  {% endif %}
  </body>
</html>
