<div class="garage-aside">
    <div class="clearfix">
        <a class="garage-aside__settings fl_r" href="/garage/settings">Settings</a>
        <a href="/garage"><div class="garage-aside__logo fl_l">Hawk</div></a>
    </div>

    <a class="garage-aside__user" href="/garage">{{ user.email }}</a>

    <h4 class="garage-aside__heading">DOMAINS</h4>

    {% for domain in domains %}
        {% set url = "/garage/" ~ domain.name %}
        <section class="garage-aside__section">
            <a href="{{ url }}">{{ domain.name }}</a>
            <a class="garage-aside__domain" href="{{ url }}">
            </a>

            {% for errorType in ['fatal', 'warnings', 'notice', 'javascript'] %}
              {% set events = attribute(domain, errorType) or null %}
              <a class="garage-aside__tag" href="{{ url }}/{{ errorType }}">
                {{ errorType }}

                {% if events %}
                <span class="garage-aside__counter garage-aside__counter--{{ errorType }} {% if events.unread %}garage-aside__counter--unread{% endif %}"
                  data-counters-domain="{{ domain.name }}" data-counters-tag="{{ errorType }}" data-counters-value="{{ countErrors }}">
                  {{ events.count }}
                </span>
                {% endif %}
              </a>
            {% endfor %}

        </section>
    {% endfor %}

    <a class="garage-aside__add" href="/websites/create">+ Add site</a>

</div>
