<div class="garage-aside">
    <header class="garage-aside__header">
        <a class="garage-aside__logo" href="/garage">
          Hawk
        </a>
        <a class="garage-aside__user" href="/garage/settings">
          {{ user.email|escape }}
        </a>
    </header>

    {# <h4 class="garage-aside__heading">PROJECTS</h4> #}

    {% for project in projects %}
        {% set url = "/garage/" ~ project.user.projectUri %}
        <section class="garage-aside__section">
            <a class="garage-aside__project" href="{{ url|escape }}">
                {{ project.name|escape }}
            </a>

            {% for errorType in ['fatal', 'warnings', 'notice', 'javascript'] %}
              {% set events = attribute(project, errorType) or null %}
              <a class="garage-aside__tag" href="{{ url|escape }}/{{ errorType|escape }}">
                {{ errorType|escape }}

                {% if events %}
                  <span class="garage-aside__counter garage-aside__counter--{{ errorType }} {% if events.unread %}garage-aside__counter--unread{% endif %}">
                    {% if events.count >= eventsLimit %}
                      {{ (eventsLimit - 1)|lettered-numbers }} +
                    {% else %}
                      {{ events.count|counter }}
                    {% endif %}
                  </span>
                {% endif %}
              </a>
            {% endfor %}

        </section>
    {% endfor %}

    <a class="garage-aside__add button button--bordered" href="/garage/settings#projects">Add project</a>

</div>
