<div class="garage-header">

    {% if domain.name is defined %}
        <h1 class="garage-header__domain">
            <a href="/garage/{{ domain.name }}">{{ domain.name }}</a>
        </h1>
    {% endif %}
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/fatal">
        Fatal
        <span class="counter">{{ domain.fatal or 0 }}</span>
    </a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/warnings">
        Warnings
        <span class="counter">{{ domain.warnings or 0 }}</span>
    </a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/notice">
        Notice
        <span class="counter">{{ domain.notice or 0 }}</span>
    </a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/javascript">
        JavaScript Errors
        <span class="counter">{{ domain.javascript or 0 }}</span>
    </a>

</div>