<div class="garage-header">
    <h1 class="garage-header__domain">
        <a href="/garage/{{ domain.name }}">{{ domain.name }}</a>
    </h1>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/fatal">Fatal | {{ domain.fatal or 0 }}</a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/warnings">Warnings | {{ domain.warnings or 0 }}</a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/notice">Notice | {{ domain.notice or 0 }}</a>
    <a class="garage-header__tab" href="/garage/{{ domain.name }}/javascript">JavaScript Errors | {{ domain.javascript or 0 }}</a>
</div>