{% extends 'garage/layout.twig' %}

{% block content %}

  

  <div class="event">
    <div class="event__header">
      <span class="event__domain">{{ currentDomain.name }}</span>
      <span class="event__type event__type--javascript">JavaScript Error</span>
    </div>
    <div class="event__content clearfix">
      <div class="event__counter">
        <div class="event__counter-number">
          <div class="event__counter-number--digit">{{ event.count }}</div>
          times
        </div>
        <div class="event__counter-date">since<br>{{ event.time|date('d M Y') }}</div>
      </div>
      <div class="event__title">
        {{ event.message }}
      </div>
      <div class="event__path">
        {{ event.errorLocation.file }} -> {{event.errorLocation.line}}:{{event.errorLocation.col}}
      </div>
    <!-- </div>
    <div class="event__device">
      <div class="event__device-param event__device-param--mobile">
        Mobile
      </div>
      <div class="event__device-param event__device-param--screen-size">
        1280x1024
      </div> -->
    </div>
  </div>

{% endblock %}
