{% set eventJson = event|json_encode %}
<div class="garage-list-item {% if event.status == 0 %}garage-list-item--unread{% endif %}" data-event='{{ eventJson|replace({"'": ""}) }}' data-domain='{{ domain.name }}'>
    <div class="garage-list-item__left">
        <div class="garage-list-item__tag">
            {{ event.tag == 'javascript' ? 'JavaScript Error' : event.tag|capitalize }}
        </div>
        <time class="garage-list-item__time">{{ event.time|date('H:i:s') }}</time>
    </div>
    <div class="garage-list-item__content">
        <a class="garage-list-item__title" href="/garage/{{ domain.name }}/event/{{ event._id }}">
            {{ event.message }}
        </a>
        <div class="garage-list-item__caption">
            {{ event.errorLocation.full }}
        </div>
    </div>
    <div class="garage-list-item__right">
        <span class="garage-list-item__counter">{{ event.count }}</span>
    </div>
</div>
