{% if hideHeader is not defined  %}
  {% extends 'garage/layout.twig' %}
{% endif %}

{% block content %}
  {% if hideHeader is not defined %}
    <div class="event">
      <div class="event__header">
        <a class="event__project" href="/garage/{{ project.user.projectUri|escape }}">{{ project.name|escape }}</a>
        <a class="event__type event__type--{{ event.tag }}" href="/garage/{{ project.user.projectUri|escape }}/{{ event.tag|escape }}">
          {{ event.tag|event-type }}
        </a>
      </div>
      {% block eventContent %}{% endblock %}
    </div>
  {% endif %}
  <div class="garage_page">
    {% block eventInfo %}{%  endblock %}
    {% block repeations %}{% endblock %}
  </div>
{% endblock %}
