<div class="stack-table {{ not main ? 'hide' : '' }}" {{ not main ? 'data-event="'~event._id~'"' : ''}}>
    {% for item in event.stack %}
        <div class="stack-table__row">
            <div class="stack-table__file">{{ item.func }}@{{ item.file }}</div>
            <div class="stack-table__location">line {{ item.line }}, col {{ item.col }}</div>
        </div>
    {% endfor %}
</div>