<div class="garage_page">
  <h3>Traceback</h3>
  <div class="stack-table">
    {{ event.stack|nl2br }}
  </div>
  <h3>Repeations</h3>
  <table class="repeations">
    {% for item in events %}
      <tr>
        {# <td>{{ item.type }}</td> #}
        {# <td>{{ item.tag }}</td> #}
        {# <td>{{ item.message }}</td> #}
        <td class="repeations__date">
          {{ item.time|date('d M, H:i') }}
        </td>
        <td>
          {{ item.userAgent.device.os }},
          {{ item.userAgent.browser.name }}
          {{ item.userAgent.browser.version }}
        </td>
        {# <td>{{ item.errorLocation.full }}</td> #}
        <td>{{ item.location.url }}</td>
        {# <td>{{ item.stack }}</td> #}
        <td>
          <span class="event-badge">
            {{ item.userAgent.device.width }}x{{ item.userAgent.device.height }}
          </span>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
