{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    {% if error is defined %}
        <div>
            Error: {{ error }}
        </div>
    {% else %}
        <div>
            Your client token: {{ client_token }}
        </div>
        <div>
            Your server token: {{ server_token }}
        </div>
    {% endif %}

{% endblock %}
