{% extends '../layout.twig' %}

{% set title = "{{ event.tag|event-type }}" %}

{% block content %}
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
        <font color="#000000" style="font-size:15px;">
          <span style="line-height: 0.9em; margin-right: 5px;">🙀</span>
          We have catched {{ times > 1 ? times : 'a' }} {{ event.tag | event-type }}{{ times > 1 ? 's' : '' }} on {{ project.name|escape }} project. Please, take a look.
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#000000" style="font-size:16px; line-height: 1.5em;">
            <b>{{ event.message|escape }}</b>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#717171" style="font-size:16px;">
            <a href="javascript: void(0);" style="color: #717171; text-decoration: none;">
                {{ event.errorLocation.file|escape }} »
                {{ event.errorLocation.line|escape }}
                {{ event.errorLocation.col|escape }}
                {% if event.errorLocation.func is not empty %}
                  » <i>{{ event.errorLocation.func }}</i>
                {% endif %}
            </a>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 25px;">
        <a href="{{ serverUrl }}/garage/{{ userData.projectUri|escape }}/event/{{ event.groupHash }}"
          style="background-color: #00bd95; display: inline-block; text-decoration: none;
          color: #ffffff; padding: 10px 15px; border-radius: 3px;">
            <font color="#ffffff" style="font-size:15px;line-height:18px;">
              View traceback
            </font>
        </a>
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <a href="{{ serverUrl }}/garage/settings" style="color:#7f87a2;">Notifications preferences</a>
  <a href="{{ serverUrl }}/unsubscribe?user={{ userData.userId }}&project={{ project._id }}&hash={{ unsubscribeHash }}" style="color:#7f87a2;margin-left:15px">
    Disable email notifications
  </a>
{% endblock %}
