<div class="yard-form">
  <a class="yard-form__title" href="/">Hawk.so</a>
  <div class="yard-form__caption">Fast and lightweight errors tracking service</div>
  <form class="yard-form__container" method="POST" action="{{ action|escape }}">
    <div class="yard-form__header">{{ title|escape }}</div>
    {% if message %}
      <div class="yard-form__message yard-form__message--{{ message.type|escape }}">{{ message.text|escape }}</div>
    {% endif %}
    {% for field in fields %}
      <fieldset class="yard-form__section">
        <label class="yard-form__label" for="{{ field.name|escape }}">{{ field.label|escape }}</label>
        {% set type = 'text' %}
        {% if field.type is defined and field.type not empty  %}
          {% set type = field.type %}
        {% endif %}
        <input class="yard-form__input"
          type="{{ type|escape }}"
          name="{{ field.name|escape }}"
          value="{{ field.value|escape }}"
          id="{{ field.name|escape }}"
          placeholder="{{ field.placeholder|escape }}"
          required />
      </fieldset>
    {% endfor %}
    {% if submitText is not empty %}
      <input class="yard-form__submit button--submit" type="submit" value="{{ submitText|escape }}">
    {% endif %}
    {% if altText and altLink not empty %}
      <a class="yard-form__alt-button" href="{{ altLink }}">{{ altText|escape }}</a>
    {% endif %}
  </form>
  <div class="yard-form__disclaimer">{{ disclaimer|escape }}</div>
</div>
