<div class="yard-form">
  <a class="yard-form__title" href="/">Hawk.io</a>
  <div class="yard-form__caption">Fast and lightweight errors tracking service</div>
  <form class="yard-form__container" method="POST" action="{{ action }}">
    <div class="yard-form__header">{{ title }}</div>
    {% for field in fields %}
      <fieldset class="yard-form__section">
        <label class="yard-form__label" for="{{ field.name }}">{{ field.label }}</label>
        {% set type = 'text' %}
        {% if field.type is defined and field.type not empty  %}
          {% set type = field.type %}
        {% endif %}
        <input class="yard-form__input"
          type="{{ type }}"
          name="{{ field.name }}"
          value="{{ field.value }}"
          id="{{ fielf.name }}"
          placeholder="{{ field.placeholder }}"
          required />
      </fieldset>
    {% endfor %}
    <input class="yard-form__submit button--submit" type="submit" value="{{ submitText }}">
  </form>
  <div class="yard-form__desclaimer">{{ desclaimer }}</div>
</div>
