<h4>Hello. Something happened on {{ domain }}, take a look.</h4>
<p>{{ event.message }}</p>

<div style="margin-bottom: 20px;">{{ event.errorLocation.full }}</div>

<div><a href="{{ hostName }}/garage/{{ domain }}/event/{{ event.groupHash }}">Error page</a></div>
<div><a href="{{ hostName }}/garage/settings">Mailing settings</a></div>
