<h4>Hello. Something happened on {{ domain }}, take a look.</h4>
<p>{{ event.message }}</p>

<div style="margin-bottom: 20px;">{{ event.errorLocation.file }} -> {{ event.errorLocation.line }}{{ event.errorLocation.col ? ':'~event.errorLocation.col : ''}}</div>

<div><a href="/garage/{{ domain }}/event/{{ event._id }}">Error page</a></div>
<div><a href="/garage/settings">Mailing settings</a></div>
