⚠️ <b>Error on {{ domain }}</b>

<code>{{ event.message }}</code>

{{ event.errorLocation.full }}

{% set url = 'https://' ~ hostName ~ '/garage/' ~ domain ~ '/event/' ~ event.groupHash %}
<a href='{{ url }}'>{{ url }}</a>
