{# 🚨<b>{{ project.name }}</b>: <code>{{ event.message }}</code>

{{ event.errorLocation.full }}
{% if times > 1 %}

    <b>{{ times }} times</b>
{% endif %} #}
{{ event.message|escape }}

<code>{{ event.errorLocation.full|escape }}</code>
{% if times > 1 %}

<b>{{ times }} times</b>
{% endif %}

{% set url = serverUrl ~ '/garage/' ~ userData.projectUri ~ '/event/' ~ event.groupHash %}
<a href="{{ url|escape }}">View Traceback</a> | <b>{{ project.name|escape }}</b> | 🚨 Hawk
