{# <b>We have catched {{ times > 1 ? times ~ ' errors' : 'an error' }} on {{ project.name }} project</b> #}

🚨<b>{{ project.name }}</b>: <code>{{ event.message }}</code>

{{ event.errorLocation.full }}
{% if times > 1 %}

    <b>{{ times }} times</b>
{% endif %}

{% set url = serverUrl ~ '/garage/' ~ userData.projectUri ~ '/event/' ~ event.groupHash %}
--------------------------------------
<i><a href="{{ url }}">View Traceback</a> | Hawk.so</i>
>
{{ url }}
<