{% for item in events %}
    <div class="repeations__row" onclick="hawkso.event.toggleStack(this, '{{ item._id }}')">
        <div class="repeations__date">
            {{ item.time|date('d M, H:i') }}
        </div>
        <div class="repeations__cell">
            {% if item.request.method %}
                <span class="event-badge">
                  {{ item.request.method|escape }}
                </span>
            {% else %}
                <span class="event-badge">
                    GET
                </span>
            {% endif %}
        </div>
        <div class="repeations__cell">
            {% if item.location.url and item.location.path %}
                <a href="{{ item.location.url|escape }}" target="_blank" class="repeations__path">
                    {{ item.location.path|escape }}
                </a>
            {% else %}
                <span class="repeations__path repeations__path--unknown">
                    Unknown location
                </span>
            {% endif %}
        </div>

        <div class="repeations__stack" title="Show Stack">
            {{ svg('/public/svg/stack.svg') }} stack
        </div>
    </div>
    <div class="event-info hide" data-event="{{ item._id }}">
        <h4>Request</h4>
        {% include 'garage/events/php/request.twig' with {event: item} %}
        <h4>Stack</h4>
        {% include 'garage/events/php/stack.twig' with {event: item} %}
    </div>
{% endfor %}
