<div class="request">

    {% set isEmpty = true %}

    {% if event.params.get and event.params.get|length not 0 %}
        {% set isEmpty = false %}
        <div class="request-params">
            <div class="request-params__header">
                GET
            </div>
            {% for field, value in event.params.get %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.params.post and event.params.post|length not 0 %}
        {% set isEmpty = false %}
        <div class="request-params">
            <div class="request-params__header">
                POST
            </div>
            {% for field, value in event.params.post %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if isEmpty %}
        <div class="no-data">
            No Request fields or Query params
        </div>
    {% endif %}

    {% if event.context and event.context|length not 0 %}
        <div class="request-params">
            <div class="request-params__header">
                CONTEXT
            </div>
            {% for field, value in event.context %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|json_encode() }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.params.cookies and event.params.cookies|length not 0 %}
        <div class="request-params">
            <div class="request-params__header">
                COOKIES
            </div>
            {% for field, value in event.params.cookies %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.params.headers and event.params.headers|length not 0 %}
        <div class="request-params">
            <div class="request-params__header">
                HEADERS
            </div>
            {% for field, value in event.params.headers %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
