<div class="request">

    {% set isEmpty = true %}

    {% if event.reques.ip %}
        {% set isEmpty = false %}
        from
        <a href="http://{{ event.request.ip|escape }}" target="_blank">
            {{ event.request.ip|escape }}
        </a>
    {% endif %}
    {% if event.request.referrer %}
        {% set isEmpty = false %}
        referred by <a href="{{ event.request.referrer|escape }}" target="_blank">{{ event.request.referrer|escape }}</a>
    {% endif %}

    {% if event.params.get and event.params.get|length not 0 %}
        {% set isEmpty = false %}
        <div class="request-params">
            <div class="request-params__header">
                GET
            </div>
            {% for field, value in event.params.get %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.params.post and event.params.post|length not 0 %}
        {% set isEmpty = false %}
        <div class="request-params">
            <div class="request-params__header">
                POST
            </div>
            {% for field, value in event.params.post %}
                <div class="request-params__item">
                    <span class="request-params__field">{{ field|escape }}</span>
                    <span class="request-params__value">{{ value|escape }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if isEmpty %}
        No data
    {% endif %}

</div>
