<div class="stack-table">
    {% for item in event.stack %}
        <div class="stack-table__row">
            <div class="stack-table__file">{{ item.func|escape }} at {{ item.file|escape }}</div>
            <div class="stack-table__location">line {{ item.line|number_format|escape }}</div>
        </div>

        {% if item.trace %}
            <div class="stack-table__source-code">
                {% for code in item.trace %}
                    {% set isErrorLine = code.line == item.line %}
                    <span class="stack-table__code-line {% if isErrorLine %}stack-table__code-line--highlighted{% endif %}"><pre>{{ code.line }}: {{ code.content }}</pre></span>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
