{% for item in events %}
    <div class="repeations__row-wrapper">
        <div class="repeations__row" onclick="hawkso.event.toggleStack(this, '{{ item._id }}')">
            <div class="repeations__date">
                {{ item.time|date('d M, H:i') }}
            </div>
            <div class="repeations__device">
                 {{ item.deviceInfo.brand|escape }} {{ item.deviceInfo.model|escape }}
            </div>
            <div class="repeations__cell">
                <span class="event-badge">
                    {{ svg('/public/svg/android.svg') }}
                    {{ event.deviceInfo.release|escape}}
                </span>
            </div>
            <div class="repeations__cell">
                <div class="repeations__path">
                    {{ item.stack[0].location|escape }}
                </div>
            </div>
            <div class="repeations__cell">
                {% if item.request.method %}
                    <span class="event-badge">
                        {{ item.request.method|escape }}
                    </span>
                {% endif %}
            </div>
            <div class="repeations__stack" style="display: flex">
                {{ svg('/public/svg/stack.svg') }}
                stack
            </div>
        </div>
        <div class="event-info hide" data-event="{{ item._id }}">
            <h4>Stack</h4>
            {% include 'garage/events/android/stack.twig' with {event: item} %}
        </div>
    </div>
{% endfor %}